{
  "teamName": "TT Team Musterstadt",
  "saison": "2026/2027",
  "saisonBeginn": "2026-09-01",
  "saisonEnde": "2026-12-31",
  "debounceMinuten": 5,
  "spieltage": [6],
  "spielformat": {
    "einzel": 4,
    "doppel": 2,
    "system": "Bundessystem"
  }
}
